### Gradle 관련 ###
.gradle
build/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.zip
!gradlew
!gradlew.bat
!settings.gradle
!build.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

**/build/**
**/out/**
**/target/**
**/src/main/generated/**

### 환경 설정 파일 제외 ###
**/src/main/resources/application.yml
**/src/main/resources/data.sql

### 기타 ###
*.log
*.class
.DS_Store
*.iml
